.pdf-viewer__container {
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 750px;
  width: 500px;
  margin: 40px 80px 40px;
}

.pdf-viewer__loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
