* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

button {
  border: none;
}

.App {
  text-align: center;
  justify-content: center;
}

.app__container {
  display: flex;
  height: 100vh;
}

.authenticator__container {
  margin-top: 60px;
}
